body {
    font-family: 'Josefin Sans', sans-serif;
}
header {
    background-color: black;
}

.name {
    font-family: 'Raleway', sans-serif;
    color: rgb(170, 130, 27);
}

.icons {
    color:rgb(170, 130, 27);
}

.about {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(170, 130, 27);
    
}

.image {
    border-radius: 0.75em;
}

.portfolio {
    background-color: black;
}

.content {
    color:  black;
}

.wrap {
    border: solid rgb(170, 130, 27);
    border-width: 2px 0 2px 0;
}

.foot {
    color:rgb(170, 130, 27);
}

